Внешние интеграции разделяю на две части
1. Интеграция устройств с бэкендом системы умного дома (секретные данные)
2. Интеграция клиентского приложения с бэкендом системы (секретные данные, конфиденциальные данные)

Требования к интеграции устройств с бэкендом умного дома.
1. Соединение должно быть по зашифрованному каналу передачи данных ssl с применением сертификатов доступа организации.
2. MAC адрес устройств должен быть зарегистрирован в системе. Запросы должны приниматься только от зарегистрированных устройств.
3. Должны сохраняться логи запросов и ответов со следующими атрибутами:
3.1 Дата и время
3.2 MAC адрес устройства
3.3 Хэдеры запроса и ответа

Требования к интеграции клиентского приложения с бэкендом системы:
1. Соединение должно быть по зашифрованному каналу передачи данных ssl.
2. Должна использоваться двухфакторная авторизация с одноразовыми кодами доступами
3. Должны сохраняться логи запросов и ответов со следующими атрибутами:
3.1 Дата и время
3.2 Логин пользователя, который инициировал соединение
3.3 Хэдеры запроса и ответ, за исключением хэдеров аутентификации
3.4 IP с которого выполнялся запрос
4. Служебные секреты для внутренних интеграций должны храниться в защищённом хранилище, например Hashicorp Vault. 
Доступ к нему должен быть только из-под персональных учётных записей администраторов системы.
5. Доступ к данным должен быть разграничен.
6. Пароли сервисных учётных записей, должны соответствовать правилам сложности и 
обновляться минимум раз в год.
7. Система должны информировать пользователя о всех действиях с паролем.
8. Система должна автоматически разрывать сессию пользователя в случае бездействия более 10 минут.